// =================================
//   FORMS
// =================================

// Imports
@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use './forms-mixins' as forms;

// =================================
//   LAYOUT
// =================================

.form-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  width: 100%;
}

.form-row {
  display: flex;
  flex-flow: row nowrap;
  gap: $spacing-md;
  width: 100%;

  @include media-breakpoint-down($bp-sm) {
    flex-direction: column;
  }
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-md;
  flex: 1 1 auto;
  min-inline-size: 0;
}

.form-outline {
  flex-grow: 1;
  position: relative;
}

.form-fieldset {
  @include forms.form-fieldset();
}

// =================================
//   TYPOGRAPHY
// =================================

.form-legend {
  @include forms.form-legend();
}

// =================================
//   ICON
// =================================

.form-icon {
  display: flex;
  align-self: center;
  font-size: $fs-lg;
  color: $form-border;
  transition: color 0.3s ease-in, transform 0.3s ease-in;
}

.form-row:focus-within .form-icon {
  color: $form-border-focus;
  transform: scale(1.2);
}

// =================================
//   INPUT FIELDS
// =================================

.form-control {
  @include forms.form-control();

  &::placeholder {
    color: transparent;
    opacity: 0;
    transition: color 0.3s ease-in, opacity 0.3s ease-in;
  }

  &:focus::placeholder {
    color: $text-muted;
    opacity: 1;
  }
}

.form-label {
  @include forms.form-label(true);
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  @include forms.form-label();
}

.form-control.form-disabled {
  @include forms.form-disabled;
}

// =================================
//   CHECKBOX
// =================================

.checkbox-wrapper {
  @include forms.checkbox-wrapper;
}

.checkbox-input,
.checkbox-label {
  cursor: pointer;
}

.checkbox-input {
  @include forms.checkbox-input();
}

.checkbox-label {
  @include forms.checkbox-label();
}

// =================================
//   SELECT
// =================================

.form-select {
  @include forms.form-select();
}
