// =================================
//   CARDS
// =================================

// Imports
@use 'sass:color';
@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use 'components-mixins' as components;

// Card container
.card {
  @include components.card();
}

// Card image
.card-img {
  @include components.card-img;
}

// Card header
.card-header {
  @include components.card-header();
}

// Card body
.card-body {
  @include components.card-body();
}

// Card footer
.card-footer {
  @include components.card-footer;
}

// ============== Typography ===================

.card-title { 
  @include title($fs-card-title);
  margin: 0;
}

.card-subtitle { 
  @include subtitle($fs-card-subtitle, $text-accent);
  margin: 0;
}

.card-text { 
  @include text($fs-card-text);
  margin: 0;
}
