// =================================
//   CARDS
// =================================

// Imports
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

// ============== Player card ===================

.card-player {
  max-width: 400px;
  margin: 0 auto;

  @include media-breakpoint-down($bp-xxl) { max-width: 350px; }
  @include media-breakpoint-down($bp-sm) { max-width: 300px; }
}
