// =================================
//   CARDS
// =================================

// Imports
@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use '../template/components-mixins' as component;

// ============== Custom card ===================

.card {
  @include component.card($radius: $rounded-lg);
}

// ============== Player card ===================

.card-player {
  max-width: 350px;
  margin: 0 auto;

  @include media-breakpoint-down($bp-xxl) { max-width: 300px; }
  @include media-breakpoint-down($bp-sm) { max-width: 260px; }
}
