// =================================
//   PLAYERS WRAPPER
// =================================

// Imports
@use '../../base/variables' as *;
@use '../../base/mixins' as *;
@use '../../layout/template/layout-mixins' as layout;

.player-list {
	@include layout.grid-fill(300px, $spacing-xl);

	@include media-breakpoint-down($bp-xxl) { gap: $spacing-lg2; }
  @include media-breakpoint-down($bp-md) { gap: $spacing-lg; }
  @include media-breakpoint-down($bp-sm) { gap: $spacing-md; }
}
