// =================================
//   TOOLBAR
// =================================

// Imports
@use 'sass:color';
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.toolbar {
  background-color: $bg-surface;
  padding: $spacing-md $spacing-lg;
  border-radius: $rounded-sm;
  box-shadow: 0 1px 4px rgba(0,0,0,0.03);

  @include media-breakpoint-down($bp-md) { padding: $spacing-lg; }

  &__form {
    display: flex;
    align-items: center;
    gap: $spacing-lg;

    @include media-breakpoint-down($bp-lg) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__row {
    display: flex;
    gap: $spacing-lg;

    @include media-breakpoint-down($bp-sm) { flex-direction: column; }
  }

  &__searchbar {
    flex-grow: 1;
  }

  &__select {
    display: flex;
    align-items: center;
    width: 200px;
    max-width: 100%;
    gap: $spacing-md;

    @include media-breakpoint-down($bp-sm) { width: 100%; }
  }
}
